/*header{
    background-image: url(../imagenes/imagen.jpg);
}*/

footer {
    background-color: rgb(47, 47, 78);
}

#enlace { display: inline;
}


main{
    margin-top: 110px !important;
    margin-bottom: -18px;
    color: white;
    background-image: url(../imagenes/imagen1.jpg);
}


#url{
    color: white;
}
